@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Sertfin LTDA

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #0071bc;
$tertiary_color: #001e32;
$background: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					padding-top: 30px;
					background-color: transparent;
					li {
						padding: 0 15px;
						background: {
							color: $tertiary_color;
							image: url(moduletable_to1_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child,
						&#menu-item-34,
						&#menu-item-15 {
							background-image: none;
						}
						&#menu-item-15 {
							width: 150px;
							z-index: 1;
							a {
								width: 150px;
								height: 113px;
								margin-top: -20px;
								padding: 0;
								background: {
									color: transparent;
									image: url(logo.png);
									position: center;
									repeat: no-repeat;
								}
								color: transparent;
								position: absolute;
							}
						}
						&.current-menu-item {
							a {
								background-color: $secondary_color;
							}
						}
						a {
							padding: 10px 20px;
							font-size: 14px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: $secondary_color;
							}
						}
						ul.sub-menu {
							padding: 0 15px;
							border: 0;
							z-index: 100;
							li {
								padding: 0 15px;
								background: {
									color: $secondary_color;
									image: none;
								}
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									border-bottom: 1px solid #fff;
									text-align: center;
									white-space: nowrap;
									display: block;
									z-index: 100;
									&:hover {
										background-color: $tertiary_color;
										color: #fff;
									}
								}
								&:last-child {
									padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 20px 0;
	h1 {
		font-size: 22px;
		span {
			font-weight: bold;
		}
	}
	strong {
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	background: {
		color: $secondary_color;
		image: url(block_1_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_b11 {
		a {
			&.button {
				margin: 0;
				color: #fff;
				border-color: #fff;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	.moduletable_b21 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 40px;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0 40px 0;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		background-color: $tertiary_color;
		.moduletable_to1 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					button {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						padding-top: 10px;
						li {
							width: 100%;
							background-image: none;
							&#menu-item-15 {
								display: none;
							}
							a {
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to2 {
			margin-top: 15px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}